@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@500;600;700&display=swap');

body {
  margin: 0;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  min-width: 100vw;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100%;
  min-height: 100vh;
}
